<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-strict-date" version="0.1.1"
	xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android">
	<name>StrictDate</name>
	<js-module name="StrictDate" src="www/StrictDate.js">
		<clobbers target="StrictDate" />
	</js-module>
	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="StrictDate">
				<param name="android-package" value="com.bm.plugins.StrictDate" />
			</feature>
		</config-file>
		<config-file parent="/*" target="AndroidManifest.xml"></config-file>
		<source-file src="src/android/StrictDate.java" target-dir="src/com/bm/plugins/StrictDate" />
	</platform>
</plugin>